:local(main) {
    display: flex;
    justify-content: space-between;
    margin: 80px 11.875% 144px;
    gap: 62px;
  }
  
  :local(#mainpic) {
    width: 46.45%;
    height: auto;
  }
  
  :local(#mainleftpart) {
    display: flex;
    flex-direction: column;
  }
  
  .mainlefttoppart {
    margin: 14.61% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .mainlefttoppart h1 {
    font-size: 48;
  }
  
  .mainlefttoppart p {
    align-self: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-size: 20;
    margin-top: 16px;
  }
  
  .mainleftbottompart {
    margin: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .search {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .search input {
    height: 60px;
    flex: 1;
    border: 2px solid #E950A0;     
    background: #F0EBE5;
    border-radius: 20;
    text-align: center;
    outline: none;
    color: black;
    font-size: 24;
    font-family: 'Unbounded', sans-serif;
  }

  .searchbtn {
    justify-content: flex-end;
  }

  /*:local(#mainleftpack) {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  :local(#mainleftpack) div {
    display: flex;
    gap: 16px;
  }
  
  :local(#maindiv) {
    justify-content: center;
    align-items: center;
  }
  
  :local(input)::placeholder {
    color: #fff;
    font-size: 24;
    font-family: 'Unbounded', sans-serif;
  }
  
  :local(#mainsqbtn) {
    width: 72px;
    height: 72px;
    border: none;
    background-color: #d9d9d9;
    border-radius: 17;
  }
  
  :local(#mainlowbtn) {
    height: 81px;
    width: 325px;
    background-color: #afafaf;
    color: #fff;
    border: none;
    align-self: flex-end;
    border-radius: 17;
    font-size: 24;
    font-family: 'Unbounded', sans-serif;
  }
  
  :local(#mainlowbtn):hover {
    cursor: pointer;
  }*/