:local(header) {
    margin: 16px 3.2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  :local(#headbtns) {
    display: flex;
    justify-content: space-between;
    height: 65px;
    width: 29%;
  }
  
  :local(.headbtn) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24;
    border-radius: 38;
    width: 210px;
  } 
  
  :local(#log_in) {
    background-color: #d9d9d9;
    color: #fff;
  }
  
  :local(#log_in):hover {
    cursor: pointer;
  }